<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRecordService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://yaosai.55555.io:15770/RecordService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecordService"
                contract="ServiceReference.IRecordService" name="BasicHttpBinding_IRecordService" />
        </client>
    </system.serviceModel>
</configuration>